@font-face {
  font-family: "AirFactoryRounded";
  src: url("./assets/fonts/AirFactoryRounded.ttf");
}
.welcome-component {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.welcome-component__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}
.welcome-component__content__title {
  font-family: "AirFactoryRounded", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .welcome-component__content__title {
    font-size: 28px;
    line-height: 34px;
    color: #056E31;
  }
}
.welcome-component__content__content {
  font-size: 25px;
  margin-top: 58px;
}
@media only screen and (max-width: 767px) {
  .welcome-component__content__content {
    margin-top: 0;
    font-size: 16px;
  }
}
.welcome-component__content .welcome-component__grid-image {
  display: grid;
  grid-template-columns: repeat(8fr, 8fr);
  position: relative;
  margin: 0 auto;
}
.welcome-component__content .welcome-component__grid-image > div > img {
  width: 350px;
  height: auto;
}
.welcome-component__content .welcome-component__grid-image .grid-image__left {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row: 1;
  z-index: -1;
}
.welcome-component__content .welcome-component__grid-image .grid-image__right {
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row: 1;
  z-index: 1;
  padding-top: 20%;
}
@media only screen and (max-width: 767px) {
  .welcome-component__content .welcome-component__grid-image .grid-image__right {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .welcome-component__content .welcome-component__grid-image {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .welcome-component {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.recent-pages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 21px;
  margin: 76px 0;
}
.recent-pages__page {
  display: flex;
  flex-basis: 32%;
  border: 3px solid transparent;
  background-color: #056E31;
}
.recent-pages__page > a {
  width: 100%;
  text-decoration: none;
  padding: 18px 0 18px 15px;
  text-align: left;
  color: white;
  font-family: "AirFactoryRounded";
  font-size: 23px;
  line-height: 157.7%;
}
.recent-pages__page > a:hover {
  color: #056E31;
}
.recent-pages__page:hover {
  background-color: white;
  border-color: #056E31;
}
@media only screen and (max-width: 767px) {
  .recent-pages {
    flex-direction: column;
  }
}

.home-page-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.home-page-container .banner-image {
  display: flex;
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
}
.home-page-container .home-page-content {
  max-width: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.home-page-container .home-page-content .welcome-container {
  display: flex;
  gap: 5rem;
}

header {
  width: 100%;
  font-family: "AirFactoryRounded", Serif;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  header .site-branding {
    display: none !important;
  }
}
header .site-icon {
  height: auto;
  max-width: 200px;
}
header .site-title {
  margin: 0;
  padding: 0;
}
header .site-branding {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0;
}
header nav {
  border-top: 1px solid #CDCDCD;
  border-bottom: 1px solid #CDCDCD;
  width: 100%;
}
header nav ul, header nav li {
  margin: 0;
}
header nav ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 57px;
  justify-content: center;
}
header nav li {
  display: flex;
  list-style-type: none;
  border-color: transparent;
}
header nav li.current_page_item > a {
  border-bottom: 2px solid #056E31;
}
header nav li > a {
  text-decoration: none;
  padding: 1rem 0;
  color: black;
}
@media only screen and (max-width: 767px) {
  header .menu {
    display: none;
  }
}
header .mobile-header {
  display: none;
  margin-left: auto;
  flex-direction: row;
}
header .mobile-header .mobile-site-branding {
  display: flex;
  width: fit-content;
  padding-left: 0.5rem;
}
header .mobile-header .mobile-site-branding > * {
  width: 50%;
  height: auto;
}
header .mobile-header .hamburger-btn {
  padding: 0.8rem 1rem;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: #056E31;
  font-size: 2rem;
  display: flex;
}
header .mobile-header .hamburger-btn > * {
  color: currentColor;
}
header .mobile-header .hamburger-btn:hover {
  background-color: white;
  border-color: #056E31;
  color: #056E31;
}
header .mobile-header .menu-canvas .menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
header .mobile-header .menu-canvas .menu a {
  padding: 0.5rem 0;
}
@media only screen and (max-width: 767px) {
  header .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*
  Theme Name: Template 5 Testing
  Text Domain: Template 5
  Version: 1.5
  Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-patterns, block-styles, wide-blocks, accessibility-ready
  Author: iPhiTech IT Digital Solutions Corporation
  Author URI: iPhiTech IT Digital Solutions Corporation
*/
body {
  font-family: "AirFactoryRounded", sans-serif;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
