@use "../variables" as v;

.welcome-component {
  display: flex;
  flex-direction: row;

  &__content {
    &__title {
      color: v.$primary-color;
      font-size: 45px;
      font-weight: 400;
    }

    &__content {
      color: black;
      font-size: 16px;
    }
  }
}