@use "variables" as var;

header {
  width: 100%;
  font-family: 'AirFactoryRounded', Serif;
  margin-bottom: 10px;

  & .site-branding {
    @media #{var.$media_mobile} {
      display: none !important;
    }
  }

  & .site-icon {
    height: auto;
    max-width: 200px;
  }

  & .site-title {
    margin: 0;
    padding: 0;
  }

  & .site-branding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 0;
  }

  & nav {
    border-top: 1px solid var.$light-grey;
    border-bottom: 1px solid var.$light-grey;
    width: 100%;

    & ul, li {
      margin: 0;
    }

    & ul {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 57px;
      justify-content: center;

      @media #{var.$media_mobile} {
        flex-direction: column;
        column-gap: 0px;
        row-gap: 10px;
        padding-left: 0;
      }
    }

    & li {
      display: flex;
      list-style-type: none;
      border-color: transparent;

      &.current_page_item > a {
        border-bottom: 2px solid var.$primary-color;
      }

      & > a {
        text-decoration: none;
        padding: 1rem 0;
        color: black;
      }
    }
  }

  & .menu {
    @media #{var.$media_mobile} {
      display: none;
    }
  }



  // Mobile Header
  & .mobile-header {
    display: none;
    margin-left: auto;
    flex-direction: row;

    & .mobile-site-branding {
      display: flex;
      width: fit-content;
      padding-left: 0.5rem;

      & > * {
        width: 50%;
        height: auto;
      }
    }

    & .hamburger-btn {
      padding: 0.8rem 1rem;
      justify-content: center;
      border: 2px solid transparent;
      border-radius: 0.5rem;
      color: var.$primary-color;
      font-size: 2rem;
      display: flex;

      & > * {
        color: currentColor;
      }

      &:hover {
        background-color: white;
        border-color: var.$primary-color;
        color: var.$primary-color;
      }
    }

    // Canvas
    & .menu-canvas {
      width: 80%;

      & .menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        & a {
          padding: 0.5rem 0;
        }
      }
    }

    @media #{var.$media_mobile} {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}