header {
    width: 100%;
    font-family: 'AirFactoryRounded', Serif;
  
    & .site-icon {
      height: auto;
      max-width: 200px;
    }
  
    & .site-title {
      margin: 0;
      padding: 0;
    }
  
    & .site-branding {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0.5rem 0;
    }
  
    & nav {
      border-top: 1px solid light-grey;
      border-bottom: 1px solid light-grey;
      width: 100%;
  
      & ul, li {
        margin: 0;
      }
  
      & ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 57px;
        justify-content: center;
      }
  
      & li {
        display: flex;
        list-style-type: none;
        border-color: transparent;
  
  
        &.current_page_item > a {
          border-bottom: 2px solid green;
        }
  
        & > a {
          text-decoration: none;
          padding: 1rem 0;
          color: black;
        }
      }
    }
  }